@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    @section LeftTile {
        @*space for picture*@
        <div class="left_tile_icon">
            <img style="border-radius: 10px" src="Content/images/icon.png" />
        </div>
    }

    @section CenterTile {
        <div>Center tile stuff</div>
    }

    @section RightTile {
        <div> Right tile stuff </div>
    }
</body>
