@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    @section LeftTile {
        @*space for picture*@
        <div class="left_tile_icon">
            <a href="../"><img style="border-radius: 10px" src="~/Content/images/icon.png" /></a>
        </div>
    }

    @section RightTile {
        <div id="righTileTitle"> </div>        
    }
</body>
